{% set api_config_init_fields = {"username": "str", "password": "str"} %}

{% macro get_api_config_init_fields() %}
    {{ api_config_init_fields }}
{% endmacro %}

{% set api_config_additional_headers = {} %}
{% macro get_api_config_additional_headers() %}
    {{ api_config_additional_headers }}
{% endmacro %}